.op-buttons {
    display: flex;
    justify-content: left;
}

.op-buttons > * {
    margin-right: 3px;
    margin-bottom: 3px;
}

.op-buttons > *:last-child {
    margin-right: 0;
    justify-self: center;
}
  
  