.user-transfers {
    background-color: rgb(255, 255, 255);
    padding: 15px;
}


.triangle-div {
    float:right; 
    cursor:pointer;
}

.triangle { 
    transition: rotate 0.5s;
    transform: rotate(0deg);
}

.triangle-down {
    transform: rotate(-90deg);
}

.carousel {
    min-width: 200px;
}

.carousel-control.right {
    background-image: none;
}

.carousel-control.left {
    background-image: none;
}

.fa-spin-custom, .glyphicon-spin {
    -webkit-animation: spin 2000ms infinite linear;
    animation: spin 2000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}