.method-selector {
    padding: 2px 5px;
    margin-left: 5px;
    border: 0px;
    font-size: 0.95em;
}

.method-list {
    border: 1px solid rgba(204, 204, 204, 0.541);
    padding: 1px;
}

.api-selector {
    background-color: #eee;
}