.desc {
    background-color: white;
    white-space: pre-wrap;
    border: 0px;
}

.result-ok {
    background-color: rgb(255, 255, 255);
    white-space: pre-wrap;
    border: 0px;
    font-family: monospace;
}

.console {
    background-color: rgb(255, 255, 255);
}