.issue__count {
    background-color: rgb(70, 123, 236)
}

.issue__vote {
    border: 1px solid rgb(196, 196, 196);
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(21, 127, 189);
    color: white;
    
}

.issue__votes {
    margin-top: 5px;
    margin-bottom: 5px;

}