@keyframes flash {
    from {background-color: rgb(224, 247, 245);}
    2% {background-color: rgb(66, 212, 238);}
    to {background-color: rgb(255, 255, 255);}
}

.schedule-witness-active {
    background-color: rgb(255, 255, 255);
    animation-name: flash;
    animation-duration: 7s;
}

.witnessdetails-title {
    font: 600 98%;
    font-size: 1.4em;
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-variant-caps: all-petite-caps;    
}

.schedule-witness-deactivated {
    color: rgb(150, 150, 150);
    text-decoration:line-through;
}

.schedule-witness-nextversion {
    color: rgb(27, 134, 177);
    font-weight: bold;
}

.schedule-witness-prevversion {
    color: rgb(201, 85, 57);
}