.post-entry {
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes fade-out {
    0% {opacity: 1; transform: translateY(-100%) scaleY(1); transform-origin: top}
    100% {opacity: 0; transform: translateY(0) scaleY(0)}
}

@keyframes fade-in {
    0% {opacity: 0; transform: scaleY(0); transform-origin: top}
    100% {opacity: 1; transform: scaleY(1)}
}

@keyframes move {
    0% {transform: translateY(-100%)};
    100% {transform: translateY(0)};
}

.mover {
    overflow-x: hidden;
    animation: move 0.3s forwards;
}

.fade-out {
    animation-name: fade-out;
}

.fade-in {
    animation-name: fade-in;
}