.postpreview__box {
    height: 64px;
    padding: 2px;
    display: flex;
    flex-direction: row;
}

.postpreview__thumbbox {
    margin: 2px;
}

.postpreview__postbox {
    margin: 2px;
}

.postpreview__thumb {
    height: 48px;
    width: 48px;
    margin: 0;
}

.postpreview_header > h3 {
    font: 600 98% Garamond;
    margin: 0;
    padding-top: 4px;
    overflow: hidden;
}

.postpreview_header > h3 > a {
    font: 600 98% Garamond;
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-variant-caps: all-petite-caps;
}

.postpreview_payout {
    font-size: 0.8em;
}

.postpreview_payout > hr {
    margin-top: 2px;
    margin-bottom: 2px;
}