.summary__indicator {
    height: 20px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
    border-radius: 3px;
    cursor: none;
    background-color: rgb(255, 255, 255);
    opacity: 1;
    background-image: none;
    border: 1px solid #ccc;
    color: #555;
    display: block;
    width: 100%;
    display: block;
    width: 100%;
}

.summary__group {
    margin-bottom: 1px;
}

.summary__col {
    margin-left: 5px;
}