.sidebar {
    width: 280px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: goldenrod
}

.header {
    display: flex;
    justify-content: center;
    height: 80px;
    text-align: center;
    font-size: 30px;
}