.user-list {
    background: rgb(255, 255, 255);
    height: 100%;
    padding: 15px;
    min-width: 200px;
}

.user-selector {
    padding: 2px 5px;
    margin-left: 5px;
    border: 1px;
    font-size: 0.95em;
}